// file: App.mpdule.scss
.headerBlock{
    @apply flex justify-center items-center mt-10 ;
}


.logoBlock{
    @apply flex items-center mr-96 ;
}
.logo{
  @apply mr-2;
}
.logoTitle{
  @apply flex items-center text-2xl text-slate-600 font-bold
}
.logoTitleSpan{
  @apply text-purple-800
}
// ---------------------- header logo end-------------------------

.link{
    @apply mr-16 font-bold text-xl text-gray-600 hover:border-b-4 hover:text-purple-900  border-purple-900 px-2 active:border-none  active:text-slate-800
}
.link:last-child{
    // @apply mr-0     
}

// ---------------------- header setting-------------------------

.headerSetting{
    @apply w-12 h-12 p-0
}
.headerSettingTitle{
  @apply flex justify-center items-center font-medium text-xl py-3
}

// ---------------------- main block-----------------

.mainBlock {
  @apply mt-8 mb-40 bg-center bg-cover h-auto pb-14 flex justify-between rounded-2xl;
  background-image: url('../pages/components/img/main/mainBackground\ 1.png');
  width: 1400px;
}



.mainInfoBlock{
  @apply  max-w-xl pt-40 ml-24;
}


.infoTitle{
  @apply font-bold text-5xl mb-14
}
.infoSubTitle{
  @apply text-2xl font-bold mb-10
}

.infoWeatherBlock{
  @apply bg-white w-auto rounded-xl h-auto 
}
.weatherCards{
  @apply  h-auto flex flex-wrap;
}
.windIconContainer {
  @apply bg-purple-600 w-12 h-12 items-center flex justify-center rounded-xl inline-block mr-3;
}

.windIcon {
  @apply block ;
}
.icons{
  @apply text-black text-2xl 
}

.cardsWind{
  @apply w-1/2 p-8 flex items-center;
}

.cloudysCard{
  @apply mt-40 mr-28  rounded-2xl m-0 pt-3 px-2;
  background-color: #E26B98;
}
.cardTitle,
.temperature,
.temperatureNow
{
  @apply flex justify-center font-bold text-3xl 
}
.temperatureNow{
  @apply text-5xl mb-2
}
.temperatureNowSpan{
  @apply text-3xl items-center flex mr-2 text-purple-900 border-b-4 border-purple-900
}
.temperature{
}
.cardTitle{
  @apply flex justify-start ml-3 px-2 py-1 rounded-xl mr-60;
  background-color: #AB3A71;
}
.cloudyCard{
  @apply flex items-center ;
    width: 320px;
    height: 300px;
    margin-left: 20px;
  }

// ------------WeatherCard------------
 
.sliderWrap{
  max-width: 1200px;
  margin: 0 auto
}
.sliderWeatherCardBlock{
  @apply mt-8 ;
}
.weatherLinkBlock{
}
.weatherLink{
  @apply font-bold text-2xl text-gray-500;
  &:hover{
    @apply text-purple-800 hover:border-b-4 border-purple-800 
  }
}
.weatherLink:first-child{
  @apply mr-12 
}
// -------------- WeatherCard---------
.weatherCardsBlock{
  @apply flex justify-between pb-32 
}
.weatherCardBlock {
  @apply mt-10 shadow-sm  rounded-xl h-auto pb-16 pt-5;
  width: 320px;
  background: rgb(226,107,152);
  background: linear-gradient(342deg, rgba(226,107,152,1) 0%, rgba(186,83,129,0.8156512605042017) 65%);
}
.weatherImg{
  display: flex;
  margin: 0 auto;
  align-items: center;
  margin-top: 10px;
  height: 250px;
  width: 250px;
}

.iconSubTitleBlock{
  @apply flex justify-around  font-bold text-2xl text-white 

}
.iconSubTitleWeather{
  @apply bg-pink-700 px-4 py-1 pb-2 rounded-3xl items-center
}

.iconSubTitleTimes{
   @apply bg-pink-700 px-4 pt-1 rounded-3xl items-center 
}
.weatherTemp{
  @apply flex justify-center mt-5 text-3xl 
}
// -------------sponsoredNews-------------
.sponsoredNews{
  margin: 0 auto;
  width: 1200px;
  @apply text-black font-medium mb-32 h-auto
}
.newsTitle{
  @apply text-5xl  text-purple-800 font-bold  pb-10;
}
// ------------foter-------------

.footerContentBlock{
  @apply bg-black h-auto;
  width: 1600px;
}
.logoBlockFooter{
  @apply flex items-center py-24 justify-center border-b-4 border-slate-500 
}
.logoFooter{
  @apply mr-2
}
.titleFooter{
  @apply text-3xl font-bold
}
.contactInfo{
  @apply flex justify-around py-10
}
.contentSocial{
  @apply flex;
}
.icon{
  @apply mr-5 w-auto h-8;

  &:last-child{
  @apply mr-0
  }
}

//---------------------- Contact page-------------
.contactPageBlock {
  @apply flex my-24 justify-between text-slate-600 text-lg font-bold;
}


.aside {
  @apply w-5/12;
}

.asideLogoBlock {
  @apply flex items-center justify-center text-2xl mb-3;
}

.logoAside {
  @apply mr-3;
}

.asideSubTitle {
  @apply mb-8 text-2xl flex justify-center;
}

.SubTitleSpan {
  @apply text-purple-900;
}

.input {
  @apply py-3 mb-4 w-full px-2;
  &:focus {
    outline: none;
  }
}

.inputMessage {
  @apply pt-3 mb-8 w-full px-2 h-52 resize-none;
  &:focus {
    outline: none;
  }
}

.error {
  @apply text-red-500 mb-4;
}

.asideBtn {
  @apply text-2xl flex text-purple-900 bg-slate-400 w-full py-2 justify-center rounded-lg border-none;
  &:hover {
    @apply bg-slate-300 text-purple-500 border-purple-600 border-b-4;
  }
  &:active {
    @apply bg-slate-500 text-purple-900 border-purple-600 border-b-4;
  }
}


// -----------games page -------------

.gamesPageBlock{
  width: 100vw;
  background-image: url('../pages/components/img/GamesCard/backgroundGamesPage.png');
  @apply relative bg-cover;  
}

.gamesCardArea{
  @apply flex pt-52 pl-72 pb-52;
}

.areaCardsBlock{
  width: 625px;
  height: 585px;
  background-color: #aa1bb9;
  padding: 40px 10px 0px 10px;
  border: #9b058e solid 3px;
}
.containers{
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1em;
  background-color: #AB3A71;
  padding: 10px;
  margin-left: 50px;
  border: #E26B98 solid 3px;
}
.gameCard{
  @apply bg-white text-black  items-center flex justify-center;
  transform: rotateY(180deg);
  animation: 2s hideCard linear;
  transform-style: preserve-3d;
  transition: transform 1.0s;
  cursor: pointer; 
}
.gameCard.correct, .gameCard.wrong {
    animation: none; /* Скасовуємо анімацію для відображених карток */
}

.gameCard.active {
  transform: rotateY(180deg); 
}
.cardImage {
  backface-visibility: hidden; /* Приховайте обертову сторону картки */
}
@keyframes hideCard {
  0%, 70%{
    transform: rotateY(0);
  } 
  100%{
    transform: rotateY(180deg);
  } 
}
.cardImage{
  transform: scale(0);
  animation: 2s hideImage linear;

}
@keyframes hideImage {
  0%,70%{
    transform: scale(1);
  } 
  100%{
    transform: scale(0);
  } 
}
.gameCard.active {
  transform: rotateY(0);
}
.gameCard.active img {
  transform: scale(1);
}
.gameCard.wrong{
  background-color: #9f5757;
}
.gameCard.correct{
  background-color: #46ad61;
}
// ------------weatherPage-----------

.slider {
  @apply flex justify-center pl-10 pt-32;
  max-width: 1200px;
  margin: 0 auto;
}
.weatherDeckriptionBlock{
  background: rgb(226,107,152);
  background: linear-gradient(342deg, rgb(167, 147, 155) 0%, rgb(225, 76, 143)66%);
  @apply  font-bold text-lg px-32 mt-32 rounded-b-2xl;
}
.descriptionBlock{
  @apply text-2xl text-slate-400 
}
.wrapperWeather {
  @apply mt-8 rounded-2xl bg-cover bg-center; 
  background-image: url('../pages/components/img/Weather/mainBackground2.png');
  height: auto;
  width: 1400px;
}


// --------random page----------

.randomBlock {
  background-image: url('../pages/components/img/Random/backgroundRandomPage.png');
  width: 100vw;
  height: 100vh;
  @apply bg-center bg-cover bg-no-repeat ;
}


.randomBlockArea {
  position: relative;
  left: 58%;
  top: 40%;
  width: 550px;
}

.randomTitle{
  @apply text-black text-3xl;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.randomTitle2{
  @apply my-2  text-black text-3xl
}

.randomUl{
  @apply flex border-yellow-500 border-4 justify-center py-1 mb-2;
}
.randomLi {
  @apply text-2xl font-bold mr-5 ;
}

.randomLi:nth-child(1) { color: #f00; transform: rotate(0); }
.randomLi:nth-child(2) { color: rgb(164, 17, 142); transform: rotate(0); }
.randomLi:nth-child(3) { color: rgb(66, 183, 66); transform: rotate(0); }
.randomLi:nth-child(4) { color: rgb(86, 70, 39); transform: rotate(0); }
.randomLi:nth-child(5) { color: #00f; transform: rotate(0); }

.linkRandom{
    @apply font-bold text-2xl text-gray-800 bg-purple-400 px-4 pb-1 rounded-2xl ;
    
    &:hover{
      @apply text-purple-900;
    }
     &:active{
     @apply  active text-slate-800;
    }
}
.linkRandom:last-child{
    @apply mr-0     
}

// ---------------Random page => spin page #1---------


.spinBlock {
  background-image: url('../pages/components/img/Random/backgroundSpinPage.png');
  width: 100vw;
  height: auto;
  @apply bg-center bg-cover relative pb-32 ;
}

.spinBlockArea {
  background-image: url('../pages/components/img/Random/oldPapirus.jpg');
  @apply flex relative justify-center  bg-cover  w-7/12 pt-40 pb-32 px-20 ;
  margin: 0 auto;
}

.randomTitleSpan{
  @apply mt-2 text-3xl;
}

// ---------- SpinSlider page ------------

.mySwiper {
  width: 1000px; 
  margin: 0 auto;
  @apply flex items-center mt-10 relative;

}

    
.swipersSliderTitle{
  @apply flex relative  bg-cover w-7/12  pt-96  px-20  relative  text-3xl font-bold;
  // background-image: url('../pages/components/img/Random/oldPapirus.jpg');
  margin: 0 auto;
  font-family: "Caveat", cursive;
}

/* styles/App.module.scss */

/* styles/App.module.scss */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Jacquard+24+Charted&family=Noto+Sans+Elymaic&display=swap');
.currentText {
  @apply flex justify-center text-3xl  w-7/12 text-white;
  margin: 0 auto;
  font-family: "Caveat", cursive; 
  font-optical-sizing: auto;
}
/* styles/App.module.scss */

