// file: App.mpdule.scss
.headerBlock{
    @apply flex justify-center items-center mt-10
}
.logoBlock{
    @apply flex font-bold text-2xl border border-none bg-slate-300 rounded-lg py-2 px-4 shadow-2xl items-center mr-96   
}
.logo{
    @apply mr-4 
}
.title{
    @apply text-gray-600 
}
.titleSpan{
    @apply text-purple-900
}
// ---------------------- header logo end-------------------------

.link{
    @apply mr-24 font-bold text-xl text-gray-600 hover:border-b-4 hover:text-purple-900  border-purple-900 px-2 active:border-none  active:text-slate-800
}
.link:last-child{
    @apply mr-0     
}

// ---------------------- header nav end-------------------------

.setting{
    @apply w-12 h-12 ml-5 
}
// ---------------------- header setting end-------------------------
// ---------------------- header end-----------------

// ---------------------- main block-----------------

.mainBlock {
  @apply mt-8 ;
  background-image: url('../pages/components/img/main/mainBackground\ 1.png');
  border-radius: 20px;
  width: 1400px;
  background-size: cover;
  background-position: center;
  height: auto;
  padding-bottom: 50px;
  justify-content: space-between;
  display: flex
}


.mainInfoBlock{
  @apply  max-w-xl pt-40 ml-32
}

.infoTitle{
  @apply font-bold text-5xl mb-14
}
.infoSubTitle{
  @apply text-2xl font-bold mb-10
}

.infoWeatherBlock{
  @apply bg-white w-auto rounded-xl h-auto 
}
.weatherCards{
  @apply  h-auto flex flex-wrap;
}
.windIconContainer {
  @apply bg-purple-600 w-12 h-12 items-center flex justify-center rounded-xl inline-block mr-3;
}

.windIcon {
  @apply block ;
}
.icons{
  @apply text-black text-2xl 
}

.cardsWind{
  @apply w-1/2 p-8 flex items-center;
}

.cloudysCard{
  @apply mt-40 mr-28  rounded-2xl m-0 pt-3 px-2;
  background-color: #E26B98;
}
.cardTitle,
.temperature,
.temperatureNow
{
  @apply flex justify-center font-bold text-3xl 
}
.temperatureNow{
  @apply text-5xl mb-2
}
.temperatureNowSpan{
  @apply text-3xl items-center flex mr-2 text-purple-900 border-b-4 border-purple-900
}
.temperature{
}
.cardTitle{
  @apply flex justify-start ml-3 px-2 py-1 rounded-xl mr-60;
  background-color: #AB3A71;
}
.cloudyCard{
  @apply flex items-center ;
    width: 320px;
    height: 300px;
    margin-left: 50px;
  }

 


// ------------SliderWeatherCard------------
 .sliderWrap{
    max-width: 1200px;
    margin: 0 auto
  }
.sliderWeatherCardBlock{
  @apply my-48 ;
  max-width: 1200px;
}
.weatherLinkBlock{
}
.weatherLink{
  @apply font-bold text-2xl text-gray-600 hover:text-purple-800 hover:border-b-4 border-purple-800 px-2 mb-12
}
.weatherLink:first-child{
  @apply mr-12 
}
// -------------- WeatherCard---------
.weatherCardsBlock{
  @apply flex justify-between 
}
.weatherCardBlock {
  @apply mt-10 shadow-sm  rounded-xl h-auto pb-16;
  width: 320px;
  background: rgb(226,107,152);
  background: linear-gradient(342deg, rgba(226,107,152,1) 0%, rgba(186,83,129,0.8156512605042017) 65%);
}
.weatherImg{
  display: flex;
  margin: 0 auto;
  align-items: center;
  margin-top: 10px;
  height: 250px;
  width: 250px;
}

.iconSubTitleBlock{
  @apply flex justify-around  font-bold text-2xl text-white 

}
.iconSubTitleWeather{
  @apply bg-pink-700 px-4 py-1 pb-2 rounded-3xl items-center
}

.iconSubTitleTimes{
   @apply bg-pink-700 px-4 pt-1 rounded-3xl items-center 
}
.weatherTemp{
  @apply flex justify-center mt-5 text-3xl 
}
// -------------sponsoredNews-------------
.sponsoredNews{
  margin: 0 auto;
  width: 1200px;
  @apply text-black font-medium mb-32 h-auto
}
.newsTitle{
  @apply text-5xl  text-purple-800 font-bold  pb-10;
}
// ------------foter-------------

.footerContentBlock{
  margin: 0 auto;
  width: 1200px;
  @apply bg-black h-auto;
}
.logoBlockFooter{
  @apply flex items-center py-24 justify-center border-b-4 border-slate-500 
}
.logoFooter{
  @apply mr-2
}
.titleFooter{
  @apply text-3xl font-bold
}
.contactInfo{
  @apply flex justify-around py-10
}
.contentSocial{
  @apply flex;
}
.icon{
  @apply mr-5 w-auto h-8;

  &:last-child{
  @apply mr-0
  }
}

//---------------------- Contact page-------------

.contactPageBlock{
  @apply flex my-24  justify-between text-slate-600 text-lg font-bold
}
.articleImg{
  @apply max-w-xl h-full
}

//---------------------- Contact page aside-------------

.aside{
  @apply w-6/12
}

.asideSubTitle{
  @apply mb-8 text-2xl
}
.SubTitleSpan{
  @apply text-purple-900 
}
.asideSubTitle{

}
.inputBlock{
}
.input{
  @apply py-3 mb-4 w-full px-2
}
.inputMessage{
  @apply pt-3 pb-96 mb-8 w-full px-2;
}
.asideBtn{
  @apply text-2xl flex text-purple-900  bg-slate-400 w-full py-2 justify-center rounded-lg border-none;

  
  &:hover{
    @apply bg-slate-300 text-purple-500 border-purple-600 border-b-4
  }
  &:active{
    @apply bg-slate-500 text-purple-900 border-purple-600 border-b-4

  }
  
}

// -----------games page -------------

.gamesPageBlock{
}

.cardBlock{
  @apply relative
}
